@font-face {
	font-family: Norse;
	src: url(fonts/Norse-Bold.otf);
}

:root {
	--padding-right-container: 0 0 0 2rem;
}


*, *:before, *:after {
	box-sizing: border-box;
}


input{
	outline: none;
}



body{
	margin: 0;
    height: 100vh;
    display: flex;
    background-color: white;
}



.left-background{
	position: relative;	
	display: flex;
	min-height: 500px;
	justify-content: center;
}

.background-image{
	height: 100%;
	width: 430px;
}

.card-body {
	font-family: Norse, 'Times New Roman', Times, serif;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background:gray;
	opacity: 0.8;
	width:100%;
	height: 18vh;
	min-height: 100px;
	text-align: center;
	font-size: 5rem;
	top: 12vh;
	bottom:0px;
	color: white;
	gap: 0.5rem;
}

.card-logo{
    height: 75px;
}

.footer {
	position: absolute;
	bottom: 5px;
	font-size: 1rem;
	color: white;
}

.footer a, .footer a:visited{
	text-decoration: none;
	color: white;
}

.footer a:hover {
	color: green;
}


.header, .sendcredentials {
	background-color:rgb(240, 240, 240);
	opacity: 0.8;
	padding: var(--padding-right-container);
}

form {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 500px;
}

.header {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.header p{
	width: 35rem;
	font-weight: bold;
}

.inputwrapper{
	justify-content: center;
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: var(--padding-right-container);
	justify-content: space-between;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	width: 100%;
	box-shadow: 2px 2px 2px #888888;
}

input {
	border: 0.5px solid black;
	border-radius: 3px;
}

input:focus{
	border-color: blue;
	box-shadow: 1px 2px #888888;
	transition: 150ms;
}

input:not(:placeholder-shown):invalid {
	border: 2px solid red;
}

input:not(:placeholder-shown):valid{
	border:2px solid green;
}

.matcherror{
	font-size: 0.8rem;
	color: red;
}

.col{
	display: flex;
	gap:2.5rem;
}

.col div {
	display: flex;
	flex-direction: column;
}


.sendcredentials{
	padding-top: 1.5rem;
	display: flex;
	flex-direction: column;
	gap:1rem;
	flex: 1;
}

.submit button{
	background-color: darkgray;
	font-size: 16px;
	border-radius: 4px;
	border: 0;
}

.submit button:hover {
	color:white;
}

.submit button:active{
	color:white;
	background-color: black;
}